<app-project-nav projectName="Beverage Rater"></app-project-nav>
<article class="mt-0 sm:mt-14">
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div class="order-2 lg:order-1 bg-br bg-cover bg-no-repeat bg-top pb-48 sm:pb-64"></div>
    <div class="order-1 lg:order-2 flex flex-col justify-center content-center">
      <h2 class="text-4xl font-bold text-center mt-20 md:mt-6">Beverage Rater</h2>
      <div class="mx-4 md:mx-32 mt-10">
        <p class="text-justify mb-4">
          The plan of attack was to first get a global idea. This was pretty easy because there were already a
          few ideas lying around. The next step was to set up a MoSCoW schema. With the assignment given, it
          was just making a checklist. Before the coding, a sketch had to be made. Not having a lot of
          experience in this field it was a bit of a harder task. At first, I started on paper, so I had a
          basic idea. Later the project was drawn in Figma to get the correct colors and spacings.
        </p>
      </div>
      <div class="mx-4 md:mx-32">
        <p class="text-justify mb-8">
          The project wasn't too hard for me, once I had figured out how everything worked the programming
          went like a charm. Of course there were a few hiccups but after a day (if it was a big one) it was
          solved. Thanks to this project I really learned how to sketch an idea and make it user-friendly, so
          it can be easily accessible for them. Also, it was important to follow your time schedule.
        </p>
      </div>
      <div class="text-center mb-2">
        <a class="hover:no-underline text-3xl small-caps " href="https://beverage-rat.firebaseapp.com/">
          View Result
        </a>
      </div>
    </div>
  </div>
</article>
