<app-project-nav projectName="Project PHP"></app-project-nav>
<article class="mt-0 sm:mt-14">
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div class="order-2 lg:order-1 bg-php bg-cover bg-no-repeat bg-center pb-48 sm:pb-64"></div>
    <div class="order-1 lg:order-2 flex flex-col justify-center content-center">
      <h2 class="text-4xl font-bold text-center mt-20 md:mt-6">Project PHP</h2>
      <div class="mx-4 md:mx-32 mt-10">
        <p class="text-justify mb-4">
          This is the follow-up project of Requirement Analysis (RA). Now it was time to use our practical
          skills and turn the theory into a web application for a client. We weren't allowed to use our own RA
          project, but we had used the documentary from another group. This way we learn both ways, the setup
          and the practical. This project was the first where I didn't make something for myself.
        </p>
      </div>
      <div class="mx-4 md:mx-32">
        <p class="text-justify mb-8">
          What I learned during this project is: communicating to our colleagues and to a client. If you can't
          make yourself clear, others won't be able to help you. Also, if your client doesn't understand you
          and vice versa the web application will not be at its full potential. Another thing I learned is to
          ask for help. We are learning, and we don't know everything about PHP, Laravel or AJAX. During this
          project I created: the login, the student and docent pages, and I took most of the styling on me.
        </p>
      </div>
      <div class="text-center mb-4">
        <a class="hover:no-underline text-3xl small-caps" href="https://michielve.site/login">
          View Result
        </a>
      </div>
    </div>
  </div>
</article>
