<section id="about" class="mx-8 md:px-8 md:pl-20 flex items-center min-h-screen">
  <div class="flex flex-col md:flex-row items-center justify-center pt-24 w-full md:w-3/4 m-auto">
    <div class="md:w-2/3 m-auto">
      <h2 class="text-2xl small-caps md-2 md:mb-4">About Me</h2>
      <div class="text-justify">
        <p>
          I'm a 22-year-old student interested in IT and everything to do with programming. That's
          why I chose to study Applied Informatics at Thomas More Geel. Just writing a program
          form scratch based on the needs of a friend, parent or client, is the thing I like the
          most.
        </p>
        <p class="mt-2 md:mt-8">
          And now I try to expand my knowledge even more: My goal is to study in Finland where I hope to
          improve my cyber-security skills. The reason why is that I wanted to continue learning but also
          fell in love with the country and mentality.
        </p>
        <p class="mt-2 md:mt-8">
          Of course programming is not the only thing I do. My hobby is judo and here I can really
          be myself. Our club has a great community where everybody tries to help each other and
          every other year we will do a quiz to challenge each other.
        </p>
      </div>
    </div>

    <div class="w-1/3 m-auto md:ml-20 lg:ml-40 my-8 md:mt-8">
      <img class="rounded-full w-auto h-auto" src="assets/img/michiel.jpg" alt="Michiel Van Eynde">
    </div>
  </div>
</section>
