<footer id="socials"
        class="py-16 flex items-center justify-evenly bg-social bg-cover bg-fixed bg-no-repeat bg-bottom min-h-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 mx-4 md:mx-8">
    <div class="effect bg-white rounded-lg">
      <a href="https://twitter.com/mve_1999" target="blank">
        <div class="group h-48 max-w-80 transition-all duration-150">
          <p class="text-center">
            <i class="fab fa-twitter fa-2x mt-6 text-blue-600 group-hover:text-white transition-all duration-500"></i>
            <span class="block bg-blue-600 group-hover:bg-white h-1 my-6 mx-4 transition-all duration-500"></span>
          </p>
          <p class="text-center pt-2 font-bold text-blue-600 group-hover:text-white transition-all duration-500">
            Twitter
          </p>
        </div>
      </a>
    </div>

    <div class="effect bg-white rounded-lg">
      <a href="https://www.linkedin.com/in/michielve/" target="blank">
        <div class="group h-48 max-w-80 transition-all duration-150">
          <p class="text-center">
            <i
              class="fab fa-linkedin-in fa-2x mt-6 text-blue-600 group-hover:text-white transition-all duration-500"></i>
            <span class="block bg-blue-600 group-hover:bg-white h-1 my-6 mx-4 transition-all duration-500"></span>
          </p>
          <p class="text-center pt-2 font-bold text-blue-600 group-hover:text-white transition-all duration-500">
            LinkedIn
          </p>
        </div>
      </a>
    </div>

    <div class="effect bg-white rounded-lg">
      <a href="https://github.com/Michiel-VE" target="blank">
        <div class="group h-48 max-w-80 transition-all ease-in-out duration-150">
          <p class="text-center">
            <i class="fab fa-github fa-2x mt-6 text-blue-600 group-hover:text-white transition-all duration-500"></i>
            <span class="block bg-blue-600 group-hover:bg-white h-1 my-6 mx-4 transition-all duration-500"></span>
          </p>
          <p class="text-center pt-2 font-bold text-blue-600 group-hover:text-white transition-all duration-500">
            GitHub
          </p>
        </div>
      </a>
    </div>

    <div class="effect bg-white rounded-lg cursor-pointer">
      <div class="group h-48 pt-0 xl:pt-8 xl:h-64 max-w-80 transition-all duration-150">
        <a href="mailto:michiel.van.eynde123@gmail.com">
          <p class="text-center">
            <i
              class="far fa-envelope fa-2x mt-6 text-blue-600 group-hover:text-white transition-all duration-500"></i>
            <span class="block bg-blue-600 group-hover:bg-white h-1 my-6 mx-4 transition-all duration-500"></span>
          </p>
          <p class="text-center pt-2 px-4 font-bold text-blue-600 group-hover:text-white transition-all duration-500 text-wrap">
            michiel.van.eynde123@gmail.com
          </p>
        </a>
      </div>
    </div>

    <div class="bg-white rounded-lg md:col-span-2">
      <app-email></app-email>
    </div>

  </div>
</footer>
