.effect div {
  background-size: 100% 200%;
  background-position: 0 -100%;
  background-image: linear-gradient(to top, transparent 50%, #2856ce 50%);
}

.effect div:hover {
  background-position: 0 0;
  border-radius: 0.5rem;
}
