.bg-php{
  background-image: url("src/assets/img/php.webp");
}

.bg-geo{
  background-image: url("src/assets/img/qgis.webp");
}

.bg-lm{
  background-image: url("src/assets/img/lm_sounds.webp");
}

.bg-br{
  background-image: url("src/assets/img/br_login.webp");
}

.bg-soon{
  background-image: url("src/assets/img/soon.webp");
}

.small-caps{
  font-variant: small-caps;
}

.card:hover .text, .card a:focus .text{
  transform: translateY(0);
}
