<app-project-nav projectName="Geolocation"></app-project-nav>
<article class="mt-0 sm:mt-14">
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div class="order-2 lg:order-1 bg-geo bg-cover bg-no-repeat bg-center pb-48 sm:pb-64"></div>
    <div class="order-1 lg:order-2 flex flex-col justify-center content-center">
      <h2 class="text-4xl font-bold text-center mt-20 md:mt-6">Geolocation</h2>
      <div class="mx-4 md:mx-32 mt-10">
        <p class="text-justify mb-4">
          This project was made in my free time. My father cooperates with the archive of Geel, and he wanted
          a way to show where a plot used to be located. This project is just in its baby shoes, because there
          are 6 other maps left to reference.
        </p>
      </div>
      <div class="mx-4 md:mx-32">
        <p class="text-justify mb-8">
          Working at this project I have learned how to reference an old map with a more up‐to‐date map or
          vice versa. I again learned how to interact with a client, even if it was my father (and indirect to
          the archive) we had to communicate and make decisions. This project was made in QGIS which has a lot
          to offer. With this programme you can reference, draw shape layers, select data and a possibility to
          export it. Down below, you can find a full demo of the project.
        </p>
      </div>
      <div class="text-center mb-2">
        <a class="hover:no-underline text-3xl small-caps " href="assets/Map_data/index.html">
          View Result
        </a>
      </div>
    </div>
  </div>
</article>
