<app-project-nav projectName="LM-Sounds"></app-project-nav>
<article class="mt-0 sm:mt-14">
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div class="order-2 lg:order-1 bg-lm bg-cover bg-no-repeat bg-center pb-48 sm:pb-64"></div>
    <div class="order-1 lg:order-2 flex flex-col justify-center content-center">
      <h2 class="text-4xl font-bold text-center mt-20 md:mt-6">LM&dash;Sounds</h2>
      <div class="mx-4 md:mx-32 mt-10">
        <p class="text-justify mb-4">
          Lm&dash;Sounds is a website made for a friend. We started talking about websites and how he always
          needed one. Because I want to help and with my background in IT I was interested in creating one, so
          I started making a MoSCoW to prioritize.
        </p>
      </div>
      <div class="mx-4 md:mx-32">
        <p class="text-justify mb-8">
          I really enjoyed this project, not only to create a website but also to help a friend and support
          him in the long run. We also keep the website up to date and try to make sure the hosting is always
          online.
        </p>
      </div>
      <div class="text-center mb-2">
        <a class="hover:no-underline text-3xl small-caps" href="https://lm-sounds.be/">
          View Result
        </a>
      </div>
    </div>
  </div>
</article>
