<app-project-nav projectName="{{ 'projects.lm.name' | translate }}"></app-project-nav>
<article class="mt-0 sm:mt-14">
  <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
    <div class="order-2 lg:order-1 bg-lm bg-cover bg-no-repeat bg-center pb-48 sm:pb-64"></div>
    <div class="order-1 lg:order-2 flex flex-col justify-center content-center">
      <h2 class="text-4xl font-bold text-center mt-20 md:mt-6">{{ 'projects.lm.name' | translate }}</h2>
      <div class="mx-4 md:mx-32 mt-10">
        <p class="text-justify mb-4">
          {{ 'projects.lm.paragraph1' | translate }}
        </p>
      </div>
      <div class="mx-4 md:mx-32">
        <p class="text-justify mb-8">
          {{ 'projects.lm.paragraph2' | translate }}
        </p>
      </div>
      <div class="text-center mb-4">
        <a class="hover:no-underline text-3xl small-caps" href="https://lm-sounds.be/" target="blank">
          {{ 'projects.result' | translate }}
        </a>
      </div>
    </div>
  </div>
</article>
