<section id="skills" class="px-10 flex items-center min-h-screen">
  <div class="block m-auto">
    <div>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Skills">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  PHP (Laravel)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Javascript (React.js, Angular)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  HTML
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Java (Spring)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  SQL
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  CSS, Tailwind
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Bootstrap, Sass
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Git
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  UML
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Jira, Trello
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Kotlin
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  JQuery
                </p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Languages">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  Dutch (Mother Tongue)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  English (Good)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-check mt-1 mr-2"></i>
                <p>
                  French (Basic)
                </p>
              </div>
            </div>
            <div class="md:mx-4">
              <div class="md:mx-4 flex">
                <i class="fas fa-book mt-1 mr-2"></i>
                <p>
                  Finnish (Learning)
                </p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="mt-8 flex">
      <div class="dropdown inline-block relative mx-auto mt-8">
        <button
          class="bg-blue-600 text-white transition-all font-semibold py-2 px-4 rounded rounded-b-none inline-flex items-center">
          <span class="mr-1">Download CV</span>
          <i class="fas fa-chevron-down pl-2"></i>
        </button>

        <ul class="dropdown-menu absolute opacity-0 w-full text-center transition-all">
          <li>
            <a class="font-semibold bg-gray-200 text-black hover:bg-gray-300 hover:no-underline py-2 px-4 block"
               download href="assets/cv/Curriculum_Vitae_Michiel_Van_Eynde_EN.pdf">
              English
            </a>
          </li>
          <li>
            <a
              class="rounded-b-lg font-semibold bg-gray-200 text-black hover:bg-gray-300 hover:no-underline py-2 px-4 block"
              download href="assets/cv/Curriculum_Vitae_Michiel_Van_Eynde_NL.pdf">
              Dutch
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
